.logo {
    width: 100%;
    float: right;
    padding-right: 16px;
    display: flex;
    flex-direction: row;
    margin-left: 50%;
    gap: 20px;
}

.logo img {
    width: 60px;
    height: auto;
}

.link {
  margin-top: 5px;
  color: white;
  font-size: 17px;
}